<style>

  /* Embed Calibri Font */
  @font-face {
    font-family: "Calibri";
    src: url("font/Calibri.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* Reset and General Font */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "Calibri";
    line-height: 0px;
  }

  /* Body Padding */
  body {
    padding: 50px;
  }

  /* Heading Styling */
  h1#cutlist {
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    font-size: 12px;
    padding: 3px 0px 3px 0px; 
    margin-bottom: 20px;
  }

  /* Cutlist Table Styling */
  #cutlist-table {
    margin-top: 10px;
    border-collapse: collapse;
    display: inline-table; /* Makes table width adjust based on content */
    min-width: 50pt; /* Ensures the table has a minimum width, adjust as needed */
    margin-right: 50px;
    margin-bottom: 50px;
  }


  /* Table Cell Styling */
  #cutlist-table tbody tr td {
    border-bottom: 1px solid black;
    text-align: left;
    width: 100px;
    padding: 3px 0px 3px 0px; 
  }

  /* Ensuring Proper Spacing for Column Headers */
  .cutlist-head {
    text-align: left;
    font-weight: bold;
    padding: 3px 0px 3px 0px;
  }

  .bold{
    font-weight: bold;
  }

  .cutlist-table-head-row{
    background-color: #f2f2f2;
    padding: 3px 0px 3px 0px; 
    border-bottom: 1px solid black; 
  }

</style>

<h1 id="cutlist">Material and Cut List</h1>
<table id="cutlist-table">
  <thead>
    <tr class="cutlist-table-head-row" style="padding: 3px 0px 3px 0px; ">
      <th class="cutlist-head">Profile Type</th>
      <th class="cutlist-head">Stock Length (mm)</th>
      <th class="cutlist-head">Quantity</th>
      <th class="cutlist-head">Total Length (m)</th>
      <th class="cutlist-head">Est Waste (%)</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      <tr style="padding: 3px 0px 3px 0px;">
        <td class="bold" style="width: 120px">{{ row[0] }}</td>
        <td style="width: 120px">{{ row[1] }}</td>
        <td style="width: 70px">{{ row[2] }}</td>
        <td style="width: 100px">{{ row[3] }}</td>
        <td style="width: 80px">{{ row[4] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
