<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProNesting | Optimization Email</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
        line-height: 1.6;
        padding: 20px;
      }
      .container {
        margin: auto;
        padding: 20px;
        border-radius: 5px;
      }
      h1 {
        font-size: 20px;
        color: #333;
      }
      p {
        margin-bottom: 15px;
      }
      .list-item {
        margin-left: 0px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>Hello {{fullName}},</p>
      <p>
        Your optimized cutting plan is ready! Attached, you’ll find the detailed
        report with the best layout to minimize waste, save on material costs,
        and improve efficiency.
      </p>

      <p>Here’s what you’ll find in your report:</p>
      <ul>
        <li class="highlight">
          Project Summary:
          <span class="list-item"
            >Quick overview of your cutting list and total profiles
            needed.</span
          >
        </li>
        <li class="highlight">
          Optimal Cutting Plan:
          <span class="list-item"
            >Detailed breakdown of cuts per profile for maximum
            efficiency.</span
          >
        </li>
      </ul>

      <p>
        Thank you for using ProNesting! If you have any questions about the
        report, please don’t hesitate to reach out.
      </p>

      <p>
        Best regards,<br />
        The ProNesting Team
      </p>
    </div>
  </body>
</html>
