<style>

  /* Heading Styling */
  h1.stock {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 12px;
    background-color: #f2f2f2;
    padding: 3px 0px 3px 0px; 
    line-height: 0px;
  }

  /* Overview Table Styling */
  .overview-table {
    margin-bottom: 30px;
    width: 300px;
  }

  .overview-table td {
    border-bottom: 1px solid black;
    padding: 3px 0px 3px 0px; 
    text-align: left;
  }

  .overview-table td:first-child {
    width: 100px;
  }

  .overview-table td:last-child {
    padding-left: 20px;
    width: 200px
  }

  /* Stock Table Styling */
  .stock-table {
    margin-bottom: 50px;
    border-collapse: collapse;
  }

  .stock-table th, .stock-table td {
    border-bottom: 1px solid black;
    padding: 3px 0px 3px 0px; 
    text-align: left;
  }

  .stock-table > thead > tr > th{
    background-color: #f2f2f2;
    padding: 3px 0px 3px 0px; 
  }

  .stock-table th {
    font-weight: bold;
  }

  .stock-table td {
    width: 130px;
  }

</style>

<h1 class="stock">Cut List and Optimizations</h1>
{% for profileCut in data %}
  <!-- Overview Table -->
  <table class="overview-table">
    <tbody>
      <tr>
        <td style="font-weight: 600; width:100px;">Stock Profile POS</td>
        <td style="width:120px;">{{ profileCut["stockProfilePOS"] }}</td>
      </tr>
      <tr>
        <td style="font-weight: 600; width:100px;">Profile Type</td>
        <td style="width:120px;">{{ profileCut["profileType"] }}</td>
      </tr>
      <tr>
        <td style="font-weight: 600; width:100px;">Stock Length</td>
        <td style="width:120px;">{{ profileCut["stockLength"] }}</td>
      </tr>
      <tr>
        <td style="font-weight: 600; width:100px;">Waste (mm)</td>
        <td style="width:120px;">{{ profileCut["wasteMM"] }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Stock Details Table -->
  <table class="stock-table">
    <thead>
      <tr>
        <th class="stock-head">Pos Number</th>
        <th class="stock-head">Cut Lengths (mm)</th>
        <th class="stock-head" style="width: 80px;">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for cut in profileCut["cuts"] %}
        <tr style="padding: 3px 0px 3px 0px; ">
          <td>{{ cut["posNumber"] }}</td>
          <td>{{ cut["cutLength"] }}</td>
          <td style="width: 80px;">{{ cut["quantity"] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

<h1 style="margin-top: 20px; margin-bottom: 20px;">END OF REPORT</h1>
